<div class="mx-1">
    <div *ngIf="tagService.selectedTag.value || tagService.tagMode===mode.edit;else tagNotSelected">
        <div *ngIf="tagService.tagMode===mode.view">
            <div class="row allNotes">
                <div class="col-5 m-1" *ngFor="let noteTag of tag?.noteTags">
                    <app-short-note [note]="noteTag.note" [maxbodylength]="150"></app-short-note>
                </div>
            </div>
        </div>
        <div *ngIf="tagService.tagMode===mode.edit">
            <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
                <div class="row align-items-center">
                    <div class="col-2">
                        <label>Tag Name :</label>
                    </div>
                    <div class="col-3">
                        <input type="text" 
                               class="form-control" 
                               formControlName="tagName" 
                               (focus)="showTagErrors=false"
                            (blur)="showTagErrors=true;" />
                        <div *ngIf="showTagErrors && tagForm.get('tagName')!.touched && !tagForm.get('tagName')!.valid && tagForm.get('tagName')!.errors">
                            <span class="text-danger" *ngIf="tagForm.get('tagName')!.errors!.maxlength">
                                Tag Name cannot exceed 20 characters.
                            </span>
                            <span class="text-danger" *ngIf="tagForm.get('tagName')!.errors!.pattern">
                                Tag Name contains invalid characters.
                            </span>
                            <span class="text-danger" *ngIf="tagForm.get('tagName')!.errors!.uniqueTagName">
                                Tag Name already exists.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 allNotes" style="cursor: pointer;">
                    <div [className]="'col-5 m-2 border border-5 '+(selectedNotes.includes(note.noteId)?'border-success':'border-secondary')"
                        *ngFor="let note of notes" (click)="updateTagNote(note)">
                        <div class="row">
                            <div class="col-7 fw-bold text-warning">
                                {{note.description}}
                            </div>
                            <div class="col-5 fst-italic" style="font-size: xx-small;color:gray">
                                {{note.updatedOn | updatedon }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-secondary" style="font-size:small">
                                {{note.body | textshorter:75 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <button class="btn btn-outline-danger"
                            [disabled]="showTagErrors && tagForm.get('tagName')!.errors"
                        >
                            {{!tag ? "Save":"Update"}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #tagNotSelected>
        <div class="row">
            <div class="col mt-2">
                Select a tag to (edit tag)/(view notes).
            </div>
        </div>
    </ng-template>
</div>