<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Notes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" *ngIf="authService.authenticated" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" style="cursor: pointer;" (click)="logout()"
              >Logout</a>
          </li>          
          <li *ngIf=" !authService.authenticated && router.url!=='/auth/login'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/auth/login']"
              >Login</a
            >
          </li>
          <li *ngIf="!authService.authenticated && router.url!=='/auth/register'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/auth/register']"
              >Register</a
            >
          </li>
        </ul>
        <div 
        [className]="(navmenuService.timeLeft>90? 'bg-success':'bg-danger')+' badge p-2'"
        *ngIf="authService.authenticated && navmenuService.timeLeft" 
        >{{ navmenuService.getTimeLeft }}</div>
      </div>
    </div>
  </nav>
</header>
