<div class="row">
    <div class="col-3">
        <button class="btn btn-primary m-2" (click)="newNote()">
            Add Note
        </button>
    </div>
</div>
<div *ngIf="!noteService.noteMode; else noteNotSelectedTemplate">
    <div class="row">
        <div class="col-3 m-2" *ngFor="let note of notes">
            <app-short-note [note]="note"></app-short-note>
        </div>
    </div>
</div>
<ng-template #noteNotSelectedTemplate>
    <div class="row">
        <div class="col-3">
            <div class="m-2" *ngFor="let note of notes">
                <app-short-note [note]="note"></app-short-note>
            </div>
        </div>
        <div class="col-9">
            <app-note-details></app-note-details>
        </div>
    </div>
</ng-template>