<div [className]="'row border border-4 '+(isSelected?'border-success':'border-secondary')" style="cursor: pointer;">
    <div class="col">
        <div *ngIf="isSelected" style="height:2em;">
            <div class="row">
                <div class="col">
                    <div class="text-end">
                        <fa-icon [className]="'m-1 '+(noteService.noteMode===mode.view&&'text-success')"
                            [icon]="viewIcon" (click)="changeMode(mode.view)">
                            >
                        </fa-icon>
                        <fa-icon [className]="'m-1 '+(noteService.noteMode===mode.edit&&'text-success')"
                            [icon]="editIcon" (click)="changeMode(mode.edit)">
                            >
                        </fa-icon>
                        <fa-icon [className]="'m-1 '+(noteService.noteMode===mode.delete&&'text-success')"
                            [icon]="deleteIcon" (click)="changeMode(mode.delete)">
                            >
                        </fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div (click)="noteSelectEvent()" [style]="(isSelected?'height:8em':'height:10em')">
            <div class="row align-items-center">
                <div class="col-7 fw-bold text-warning">
                    {{note.description}}
                </div>
                <div class="col-5 fst-italic" style="font-size: xx-small;color:gray">
                    {{note.updatedOn | updatedon}}
                </div>
            </div>
            <div class="row">
                <div class="col text-secondary" style="font-size:small">
                    {{note.body | textshorter:maxbodylength }}
                </div>
            </div>
        </div>
    </div>
</div>
