<div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary m-2"
            >Add Tag</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="tag m-1 p-1 border border-info bg-opacity-10 bg-info text-center rounded-pill"
            style="cursor: pointer;"
            *ngFor="let tag of tags">
                {{tag.tagName}}
            </div>
        </div>
        <div class="col-1">
            <div class="row">
                <div class="col-6">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </div>
                <div class="col-6">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>